.item-list{
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: inset 5px 5px 10px rgb(95, 94, 94);
    padding: 10px;
    height: 40%;
    min-width: 125%;
}
.item-list::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
.item{
    margin-top: 10px;
    box-shadow: 5px 5px 10px black;

}